body {
    font-family: Arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
    background-color: #83fa83;
}

h1 {
    font-size: 60px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#labelDocumento {
    font-size: 60px;
}

#documento {
    font-size: 80px;
}

button {
    font-size: 50px;
    background-color: #dcffdc;
    border-radius: 10px;

}